# Python 缓存
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
.env/
.venv/
snake_trpo/

# VSCode 配置
.vscode/

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log
logs/

# 模型文件（你RL项目很重要）
*.pth
*.pt
*.ckpt

# 训练输出（你可以按你项目改）
models/
checkpoints/
results/

# Jupyter
.ipynb_checkpoints/

# 临时文件
*.tmp
*.swp